* {
    margin:0;
    padding:0;
}

*:focus {
    outline: none;
}


:root {
    --content-background: #363636;
    --content-ui: #070707;
    --title-color: white;
    --title-font: 'Chakra Petch';
    --title-font-size: 18px;
    --title-font-weight: 600;
    --content-color: #7D7D7D;
    --content-font: 'K2D';
    --content-font-size: 16px;
    --corner-clip: 5px;
    --accent-color: red;
    --accent-color-highlight: pink;
    --border-thickness: 2px;
    --content-offset: 15px;
    --button-font-size: 17px;
    --button-font-color: black;
    --button-disabled-color:#595959;
    --sidebar-width: 130px;
    --header-height: 40px;
    background-color: darkred;
}

.header {
    position: fixed;
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: var(--header-height);
    background-color: var(--content-ui);
    font-family: var(--title-font);
    color: var(--title-color)
}

.header h1 {
    margin-left: 20px;
}

.sidebar {
    border-top-style: solid;
    border-top-color: var(--accent-color);
    border-top-width: var(--border-thickness);
    margin-top: calc(10px + var(--header-height));
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    background-color: var(--content-background);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    margin: 10px 8px 6px 16px;
    display: block;
    text-align: center;
    font-family: var(--title-font);
    text-decoration: none;
    color: var(--content-color);
}

.sidebar a:hover {
    color: var(--button-font-color);
    background-color: var(--accent-color);
    animation-name: sidenav;
    animation-duration: 90ms;
    animation-fill-mode: forwards;
    clip-path: polygon(
      0px var(--corner-clip),     /* top left */
      var(--corner-clip) 0px,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% calc(100% - var(--corner-clip)),  /* bottom right */
      calc(100% - var(--corner-clip)) 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
}

@keyframes sidenav {
    0% {
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}

.main {
    position: fixed;
    margin-left: var(--sidebar-width);
    margin-top: var(--header-height);
    padding-top: 10px;
    padding-left: 40px;
}

.card {
    max-width: 500px;
    width: fit-content;
    height: fit-content;
    clip-path: polygon(
      0px var(--corner-clip),     /* top left */
      var(--corner-clip) 0px,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% calc(100% - var(--corner-clip)),  /* bottom right */
      calc(100% - var(--corner-clip)) 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
   margin: 10px;
}

.card p {
    text-align: justify;
}

.card .card-title {
    position: relative;
    font-size: var(--title-font-size);
    font-family: var(--title-font);
    text-transform: capitalize;
    text-align: center;
    background-color: var(--content-ui);
    max-width: 65%;
    width: fit-content;
    padding-left: 7px;
    padding-right: 7px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: var(--title-color);
    border-bottom-width: var(--border-thickness);
}

.card .card-content {
    position: relative;
    width: 100%;
    font-family: var(--content-font);
    font-size: var(--content-font-size);
    background-color: var(--content-background);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    color: var(--content-color);
    inline-size: auto;
    overflow-wrap: normal;
    border-top-style: solid;
    border-color: var(--accent-color);
    border-width: var(--border-thickness);
    text-align: justify;
}

hr {
    margin: 5px;
    border-color: var(--content-ui);
}

.card .card-offset {
    left: var(--content-offset);
    padding-right: calc(10px + var(--content-offset));
}

button {
    display: inline;
    background-color: var(--accent-color);
    font-family: var(--title-font);
    font-size: var(--button-font-size);
    color: var(--button-font-color);
    border: none;
    border-bottom-style: solid;
    border-bottom-width: var(--border-thickness);
    border-bottom-color: var(--content-ui);
    padding: 0px 15px 2px 15px;
    clip-path: polygon(
      0px var(--corner-clip),     /* top left */
      var(--corner-clip) 0px,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% calc(100% - var(--corner-clip)),  /* bottom right */
      calc(100% - var(--corner-clip)) 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
    margin: 5px;
}

button:hover {
    animation-name: button;
    animation-duration: 90ms;
    animation-fill-mode: forwards;
}

button:disabled {
    color: var(--button-disabled-color);
    border-bottom-color: var(--button-disabled-color);
    background-color: var(--content-color);
}

button:hover:disabled {
    animation-name: none;
}

@keyframes button {
    0% {
       color: var(--accent-color);
        background-color: var(--accent-color-highlight);
        transform: scale(1.1);
    }
    100% {
        color: var(--accent-color);
        background-color: var(--accent-color-highlight);
    }
}

input {
    border: none;
    border-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: var(--border-thickness);
    margin: 5px;
    height: 24px;
    background-color: var(--content-color);
    clip-path: polygon(
      0px var(--corner-clip),     /* top left */
      var(--corner-clip) 0px,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% calc(100% - var(--corner-clip)),  /* bottom right */
      calc(100% - var(--corner-clip)) 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
    padding-left: 10px;
}

input:hover {
    background-color: var(--title-color);
}

::placeholder {
    color: var(--accent-color);
    font-family: var(--content-font);
}

::placeholder:hover {
    color: var(--accent-color-highlight)
}